* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  user-select: none;
}

/* Topograpgy */
.bg-light {
  background: #f3f3f3;
}

.bg-dark {
  background: #16161A;
}

.error {
  background: rgb(255, 81, 81);
}

.success {
  border: 1px solid #7F5AF0;
  background: #7F5AF0;
}

.loader {
  display: none;
  margin-left: 8px;
  margin-right: 8px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #7F5AF0;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 0.7s linear infinite;
  /* Safari */
  animation: spin 0.7s linear infinite;
}

/* Layout */

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0 0 1.5em;
}

header img {
  width: 120px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

header nav {
  background-color: #7F5AF0;
  border-top-left-radius: 4em;
  border-bottom-left-radius: 4em;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  padding: 1em;
  font-size: clamp(1rem, 4vw, 1.8rem);
  float: left;
  color: beige;
  cursor: pointer;
}

/* *************************************************************** */
/* Grid */
.grid {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2em;
  padding: 4em;
}

.container:nth-child(odd) {
  direction: rtl;
}

.grid:nth-child(odd)>.grid-item {
  direction: ltr;
}

.grid .grid-item {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.grid .grid-item h1 {
  font-size: 4rem;
}

.grid .grid-item p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}

.grid .grid-item ul li {
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.grid .grid-item .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid .grid-item .form-group {
  width: max-content;
  border: 2px solid #7F5AF0;
  border-radius: 4rem;
}

.grid .grid-item .form-group input[type='text'] {
  display: inline;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1em;
  color: #FFFFFE;
  text-align: center;
}

.grid .grid-item button {
  width: max-content;
  cursor: pointer;
  padding: 1em 3em;
  border-radius: 4em;
  color: white;
  outline: none;
  border: none;
}

.grid .grid-item img {
  width: 100%;
  object-fit: contain;
}

.statistics {
  padding-bottom: 38px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 38px;
  grid-auto-rows: minmax(150px, auto);
  grid-auto-columns: minmax(200px, auto);
}

.statistics .stats-items {
  text-align: center;
  border-radius: 6px;
  border: 1px solid #7F5AF0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
}

.statistics .stats-items img {
  margin: 12px;
}

.statistics .stats-items h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 40px;
  color: #fff;
}

.statistics .stats-items p {
  line-height: 24px;
  font-size: 14px;
  font-weight: 400px;
  color: #5a616b;
}







/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .container .wrapper {
    margin: 0;
  }

  .container .wrapper .main {
    border-radius: 0;
  }

  .container .wrapper .Built_with {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .container .wrapper grid .flexbox.left_flexbox>div {
    padding: 15% 0 0 5%;
    width: 90%;
  }

  .container .wrapper grid .flexbox {
    flex: 100%;
  }
}